<h2> Welcome </h2>

<h2><%= @user.username %></h2>


<% if logged_in?%>

<% if current_user.id == @user.id%>
<h3><%= @user.email %></h3>
<ul>
<p> <a href="/ask_question">Ask a question</a> </p>
<p> <a href="/answer_question">Answer a question</a> </p>
<p> <a href="/show_user_questions">Show your questions</a> </p>
<p> <a href="/show_user_answers">Show your answers</a> </p>
<p> <a href="/show_all_questions">Show all questions!</a> </p>
<p> <a href="/update_info">Update your info</a> </p>
</ul>
<p><a href="/">Go back</a></p>

<% else %>

<p> <a href="/show_user_questions">Show <%= @user.username %>'s questions</a> </p>
<p> <a href="/show_user_answers">Show <%= @user.username %>'s answers</a> </p>
</ul>
<p><a href="/show_all_users">Go back</a></p>


<% end %>

<% else %>

<p> <a href="/show_user_questions">Show <%= @user.username %>'s questions</a> </p>
<p> <a href="/show_user_answers">Show <%= @user.username %>'s answers</a> </p>
</ul>
<p><a href="/show_all_users">Go back</a></p>

<% end %>





